@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

body {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100svh;
  min-height: -webkit-fill-available;
}


html {
  height: -webkit-fill-available;
  width: 250px;
  height: 250px;
}

main {
  padding: 20px;
  flex: 1;
}

#close-tabs-btn {
  width: 100px;
  height: 100px;
}

#close-tabs-btn:hover img {
  
  filter: brightness(0) invert(1);

}


.drop_shadow-filter {
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
}